@page
@model FoodFilesSoftwareAssignment.DashBoardModel
@{
    ViewData["Title"] = "DashBoard";
}

<h1>DashBoard</h1>
<h4>@Model.caloriesConsumed</h4>
<h4>@Model.carbohydrates</h4>
<h4>@Model.sugar</h4>
<h4>@Model.protein</h4>
<h4>@Model.fat</h4>
<h4>@Model.saturatedFat</h4>
<h4>@Model.sodium</h4>

@if (Model.CalorieCount is null)
{
    <h4>The records are empty</h4>
}
else
{
    <h4>Calorie Count</h4>
    //this is just to display the data, was used to test outputs
    <h4>@Model.CalorieCount.CountId</h4>
    <h4>@Model.CalorieCount.Date</h4>
    <h4>@Model.CalorieCount.UserFoodId</h4>
    <h4>@Model.CalorieCount.UserRecipeId</h4>
    <h4>@Model.CalorieCount.CalorieGoal</h4>
    <h4>@Model.CalorieCount.CaloriesConsumed</h4>
    
}

@if (Model.UserFood is null)
{
    <h4>The records are empty</h4>
}
else
{
    <h4>User Food</h4>

    @foreach (var userFood in Model.UserFood)
    {
        <tr>
            <td>@userFood.FoodId</td>
            <td>@userFood.UserFoodId</td>
            <td>@userFood.CustomFoodId</td>
            <td>@userFood.Date</td>
            <td>@userFood.Quantity</td>
        </tr>
       
    }

}

@if (Model.NzFoodFiles is null)
{
    <h4>The records are empty</h4>
}
else
{
    <h4>Nz Food</h4>

    @foreach (var food in Model.NzFoodFiles)
    {
        <tr>
            <td>@food.ShortName</td>
            <td>@food.Energy</td>
            <td>@food.Carbohydrates</td>
            <td>@food.Sugar</td>
            <td>@food.Protein</td>
            <td>@food.Fat</td>
            <td>@food.SaturatedFat</td>
            <td>@food.Sodium</td>
        </tr>
    }
}

<form method="post">
    <div class="form-group">
        <label asp-for="SelectedDate.Date" class="control-label"></label>
        <input asp-for="SelectedDate.Date" class="form-control" />
        <span asp-validation-for="SelectedDate.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Search By Date" class="btn btn-primary" />
    </div>
</form>

