@page
@model FoodFilesSoftwareAssignment.DashBoardModel
@{
    ViewData["Title"] = "User Dashboard";
}

<h1>@Model.UserName's Dashboard</h1>

<div class="container">
    <div class="row">
        <div class="col-3">
            <hr /><h4>Totals</h4><hr />
            <strong>Carbohydrates:</strong> @Model.carbohydrates<br />
            <strong>Sugar:</strong> @Model.sugar<br />
            <strong>Protein:</strong> @Model.protein<br />
            <strong>Fat:</strong> @Model.fat<br />
            <strong>Saturated Fat:</strong> @Model.saturatedFat<br />
            <strong>Sodium:</strong> @Model.sodium<br />
            <hr />
            <strong>Calories Consumed:</strong> @Model.caloriesConsumed<br />



            @if (Model.CalorieCount is null)
            {
                <strong>There is no Information available for this Day!</strong>
            }
            else if (Model.caloriesConsumed > Model.CalorieCount.CalorieGoal)
            {
                <strong>Calorie Goal:</strong> @Model.CalorieCount.CalorieGoal<br />
                <p class="text-danger">CALORIES CONSUMED EXCEED CURRENT CALORIE GOAL!</p>
            }
            else
            {
                <strong>Calorie Goal:</strong> @Model.CalorieCount.CalorieGoal<br />
            }

            <br />
            <strong>Recommended Daily Intake:</strong> @Model.dailyIntake<br />
        </div>
        <div class="col-9">


            <div class="row">
                <div class="col">
                    <hr /><h4 class="d-inline">NZ Food</h4><a href="/Main/Food/SelectFood" class="btn btn-primary float-xl-right" role="button">Select Food (NZ FOOD FILES)</a>
                    @if (Model.NzFoodFiles is null)
                    {
                        <h4>The records are empty</h4>
                    }
                    else
                    {

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].ShortName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].Energy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].Carbohydrates)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].Sugar)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].Protein)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].Fat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].SaturatedFat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].Sodium)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserFoodNz[0].Quantity)
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var mergedNzUser = Model.NzFoodFiles.Zip(Model.UserFoodNz, (n, w) => new { NzFoodFiles = n, UserFoodNz = w });}

                        @foreach (var item in mergedNzUser)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NzFoodFiles.ShortName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NzFoodFiles.Energy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NzFoodFiles.Carbohydrates)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NzFoodFiles.Sugar)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NzFoodFiles.Protein)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NzFoodFiles.Fat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NzFoodFiles.SaturatedFat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NzFoodFiles.Sodium)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserFoodNz.Quantity)
                                </td>
                                <td>
                                    <a asp-page="./Food/RemoveFood" asp-route-id="@item.UserFoodNz.UserFoodId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                    }
                </div>

            </div>
            

            
            <div class="row">
                <div class="col">
                    <hr /><h4 class="d-inline">Custom Food</h4><a href="/Main/Food/SelectCustomFood" class="btn btn-primary float-xl-right" role="button">Select Food (USER CUSTOM FOODS)</a><hr />
                    @if (Model.CustomFood is null)
                    {
                        <h4>The records are empty</h4>
                    }
                    else
                    {

                <table class="table">
                    @{var mergedCustomUser = Model.CustomFood.Zip(Model.UserFoodCustom, (n, w) => new { CustomFood = n, UserFoodCustom = w });}
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].ShortName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].Energy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].Carbohydrates)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].Sugar)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].Protein)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].Fat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].SaturatedFat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].Sodium)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserFoodNz[0].Quantity)
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in mergedCustomUser)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomFood.ShortName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomFood.Energy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomFood.Carbohydrates)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomFood.Sugar)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomFood.Protein)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomFood.Fat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomFood.SaturatedFat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomFood.Sodium)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserFoodCustom.Quantity)
                                </td>
                                <td>
                                    <a asp-page="./Food/RemoveFood" asp-route-id="@item.UserFoodCustom.UserFoodId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                    }
                </div>

            </div>

        </div>
    </div>
</div>
<hr />
<form method="post">
    <div class="form-group">
        <strong><label asp-for="SelectedDate.Date" class="control-label">Select Date:</label></strong>
        <input asp-for="SelectedDate.Date" class="form-control" />
        <span asp-validation-for="SelectedDate.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Search By Date" class="btn btn-primary" />
    </div>
</form>

