@page
@model FoodFilesSoftwareAssignment.DashBoardModel
@{
    ViewData["Title"] = "User Dashboard";
}

<h1>@Model.UserName's Dashboard</h1>

<div class="container">
    <div class="row">
        <div class="col-xl-3">
            <hr /><h4>Totals</h4><hr />
            <strong>Carbohydrates:</strong> @Model.carbohydrates<br />
            <strong>Sugar:</strong> @Model.sugar<br />
            <strong>Protein:</strong> @Model.protein<br />
            <strong>Fat:</strong> @Model.fat<br />
            <strong>Saturated Fat:</strong> @Model.saturatedFat<br />
            <strong>Sodium:</strong> @Model.sodium<br />
            <hr />
            <strong>Calories Consumed:</strong> @Model.caloriesConsumed<br />


            @if (Model.CalorieCount is null)
            {
                <strong>There is no Information available for this Day!</strong>
            }
            else if (Model.caloriesConsumed > Model.CalorieCount.CalorieGoal)
            {
                <strong>Calorie Goal:</strong> @Model.CalorieCount.CalorieGoal<br />
                <p class="text-danger">CALORIES CONSUMED EXCEED CURRENT CALORIE GOAL!</p>
            }
            else
            {
                <strong>Calorie Goal:</strong> @Model.CalorieCount.CalorieGoal<br />
                //this is just to display the data, was used to test outputs
                @*<strong>ID:</strong> @Model.CalorieCount.CountId<br />
                <strong>Date:</strong> @Model.CalorieCount.Date<br />
                <strong>FoodID:</strong> @Model.CalorieCount.UserFoodId<br />
                <strong>User RecipeID:</strong> @Model.CalorieCount.UserRecipeId<br />
                <strong>Calories Consumed:</strong> @Model.CalorieCount.CaloriesConsumed<br />*@
            }
        </div>
        <div class="col-xl-9">
            <hr /><h4>Details</h4>
            <hr />
            @if (Model.UserFood is null)
            {
                <strong>The records are empty</strong>
            }
            else
            {
                @foreach (var userFood in Model.UserFood)
                {
                    <ul>
                        <li>FoodID: @userFood.FoodId</li>
                        <li>User FoodID: @userFood.UserFoodId</li>
                        <li>Custom FoodID: @userFood.CustomFoodId</li>
                        <li>Date: @userFood.Date</li>
                        <li>Quantity: @userFood.Quantity</li>
                        <li><a asp-page="./Food/RemoveFood" asp-route-id="@userFood.UserFoodId">Delete</a></li>
                    </ul>
                }
            }

            <hr /><h4 class="d-inline">NZ Food</h4><a href="/Main/Food/SelectFood" class="btn btn-primary float-xl-right" role="button">Select Food (NZ FOOD FILES)</a><hr />
            @if (Model.NzFoodFiles is null)
            {
                <h4>The records are empty</h4>
            }
            else
            {

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].ShortName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].Energy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].Carbohydrates)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].Sugar)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].Protein)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].Fat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].SaturatedFat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NzFoodFiles[0].Sodium)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.NzFoodFiles)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShortName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Energy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Carbohydrates)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sugar)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Protein)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SaturatedFat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sodium)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }

            <hr /><h4 class="d-inline">Custom Food</h4><a href="/Main/Food/SelectCustomFood" class="btn btn-primary float-xl-right" role="button">Select Food (USER CUSTOM FOODS)</a><hr />
            @if (Model.CustomFood is null)
            {
                <h4>The records are empty</h4>
            }
            else
            {

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].ShortName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].Energy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].Carbohydrates)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].Sugar)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].Protein)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].Fat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].SaturatedFat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomFood[0].Sodium)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CustomFood)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShortName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Energy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Carbohydrates)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sugar)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Protein)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SaturatedFat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sodium)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
        </div>
    </div>
</div>
<hr />
<form method="post">
    <div class="form-group">
        <strong><label asp-for="SelectedDate.Date" class="control-label">Select Date:</label></strong>
        <input asp-for="SelectedDate.Date" class="form-control" />
        <span asp-validation-for="SelectedDate.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Search By Date" class="btn btn-primary" />
    </div>
</form>

